.menuItem .menu{font-size:20px;font-weight:600;list-style:none;padding:0 0 15px;margin-bottom:20px;display:inline-block;color: #505050;}
.menuItem .menu li{padding: 15px 20px 15px;margin-bottom:20px;display:inline-block;width:100%;float:left;border-radius: 10px;border: 1px dashed #000;}
.menuItem .detail{
font-size:13px;
color:#444;
font-weight:normal;
}
.menuItem .price{font-size: 16px;float:right;font-weight:600;color: #fc6a33;}
