.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 38px;
  color: #272727;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 4px;
  background: #fb6a33; 
}
.section-title {
  color: 'black'
}


 

.media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
  background-image: 'url(/images/slider/bg2.jpg)';
  background: #fff;
}
.media.service-box {
  margin: 25px 0 36px;
}
.media.service-box .pull-left {
  margin-right: 20px;
  border: 1px dashed #2a2a32;
  padding-right: 0px;
  border-radius: 15px;
}
.media.service-box .pull-left > i {
  font-size: 32px;
  height: 67px;
  line-height: 64px;
  text-align: center;
  width: 80px;
  color: #2a2a32;
  /* background: #E0E0E0; */
  transition: background-color 400ms, background-color 400ms;
  position: relative;
  border-radius: 15px;
  height: 80px;
  line-height: 80px;
}
 
.media.service-box:hover .pull-left > i {
  color: #fb6a33;
  /* background: #fb6a33; */
}