=== mymotorwash Config Vars
DATABASE_URL:             postgres://uwphajilrhegnk:33c40aeef7f72b68ca54be41304774341de02e9a33c665df39d4d1ee6205173a@ec2-52-72-56-59.compute-1.amazonaws.com:5432/ddetvrf0s4a70k
LANG:                     en_US.UTF-8
RACK_ENV:                 production
RAILS_ENV:                production
RAILS_LOG_TO_STDOUT:      enabled
RAILS_MASTER_KEY:         9d2b9c6330bb713fcc3bfdee83f06a90
RAILS_SERVE_STATIC_FILES: enabled
SECRET_KEY_BASE:          412a807ec3b7471bafe7048097e37dc8ae016ce7bf4c05774f1c97e745ec3d92bb55eb27c6c56968ece05f887186ebb04f7ece592db83983ac7133b10fc33e64
SENDGRID_PASSWORD:        iddlgmbhlyujsoaj
SENDGRID_USERNAME:        mymotorwash@gmail.com
SKIP_PREFLIGHT_CHECK:     true
