.contact-us {
  padding: 100px 0 50px;
  background: #fb6a33;
  color: #fff;
}
.contact-us h1,
.contact-us h2 {
  color: #fff;
}
/*Contact*/
 .contact-info{
 padding:60px 0;
 }
.contact-info address {
margin-bottom: 20px;
font-style: normal;
line-height: 27px;
font-size: 15px;
}
.contact-info .form-control { 
padding: 6px 12px;
border-radius: 0;
}