Hi <%= @user.email %>,
<p>
You are receiving this email because you have requested a password reset for your Motor Wash account.
</p>
<p>
Here is your password reset token : <%= @user.reset_password_token %>
</p>
<p>
To reset your password click the URL below and enter the details along with the token given above.
</p>
http://mymotorwash.com/PasswordReset
<p>
If you did not request your password to be reset please ignore this email and your password will stay as it is.
</p>

Team My Motor Wash